<!DOCTYPE html>
<html lang="en" ng-app="myApp"> 
<head>
    <meta charset="UTF-8">
    <title>Workflow!</title>

    <!-- For Angular Routing -->
    <base href='/'>
    <!-- CSS -->
    <!-- load bootstrap here -->
    <!-- we'll load the css file in the gulp section -->
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">

    <!-- JS / LIBS -->
    <!-- load angular and angular-route here -->
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular-route/angular-route.min.js"></script>
    <script src="all.js"></script>
    
    <!-- APP -->
</head>
<body ng-controller="mainController">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li> 
        <li><a href="#">Page 3</a></li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
    

<div class="jumbotron text-center">
    <h1>{{ message }}</h1>
</div>

<div ng-view></div>

</body>
</html>
