/* Navbar custom style */
.navbar-custom .navbar-nav > li > a:hover{
    background-color:#005a81;
}
.nav>li>a:focus{
    background-color:#005a81;
}
.navbar-custom {
    background-color:#0177A9;
    color:#ffffff;
    border-radius:0;
}
.icon-bar{
    background-color:white;
}
.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:whitesmoke;
}
/* General style for site */
h2{
   font-family: 'Open Sans', sans-serif;
}
.pad-section {
   padding: 50px 0;
}
.pad-section img {
    width: 100%;
}
.pad-section-top {
   padding-top: 80px;
}
ul{
    list-style-type: none;    
}
.center-div{
    text-align: center;
    padding-top:25px;
}
.form-control{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.control-left{
    width: 50%; 
    margin-left:0;
    margin-right:0;
    border-radius: 20px;
}

/* Line Page */

ng-map{
    height:500px;
    border:1px solid gray;
}

#reroute-blue{
    background-color: whitesmoke;
    color: #0177A9;
    min-height: 600px;
    border-radius:5px;
    border:1px solid lightgray;
    overflow: scroll;
}
#reroute-blue li{
    list-style-type: none;
}
#new-route-button{
    margin-top:10px;
}

.modal-content{
    background-color: #0177A9;
    color:white;
}