
<div ng-controller="mainController" class="aside" tabindex="-1" role="dialog">
  <div style="width:450px" class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" ng-show="title">
          
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title" ng-bind-html="title"></h4>
      </div>
      <div class="aside-body" ng-show="content">
        <div class="row">
            <div>
               <div class="form-group"><input placeholder="Sök på plats eller linje" class="form-control" ng-model="reroute"></div>
              <ul>
                <h3 style="display:inline"> <span class="label label-default">Berörda linjer</span></h3>&nbsp
                <h3 style="display:inline"> <span class="label label-default">Plats</span></h3>
                <li ng-repeat="reroute in reroutes | filter:reroute">
                  <div style="margin-right:30px; margin-top:20px;">
                    <h3 style="display:inline"> <span class="label label-primary">{{reroute.affectedLines}}</span></h3>
                    <br><br>
                    <h3 style="display:inline"> <span class="label label-danger">{{reroute.id}}</span></h3>
                    <br>
                    <br>
                    <ng-map zoom="11" center="Göteborg" style="height:200px">
                      <marker 
                        position="{{reroute.coordinates[0].lat}},{{reroute.coordinates[0].long}}"
                        icon="https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png">
                      </marker>
                    </ng-map>
                  </div>
                  <hr>
                </li>
              </ul>
            </div>
        </div>
      </div>
      <div class="aside-footer">
      </div>
    </div>
  </div>
</div>