<div class="container center-div">
    <div>
        <h2>Linje {{id}} - lägg ny rutt</h2><br>
    </div>
</div>

<div class="pad-section container">
    <div class="row">
       <div class="col-md-8">
           <p>kartvy</p>
       </div>
       <div class="col-md-4" id="reroute-blue">
           <h2 class="text-center">Omderigeringar</h2>
           <div class="pad-section">
               <li ng-repeat="reroute in reroutes | filter:reroute">
                 {{reroute.name}}
               </li>
           </div>
       </div>
        
    </div>
</div>